.background {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}
#principal{
    background-image: url(../img/ValleBoreal.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#contenido{
    width: 800px;
    margin: 0 auto;
    background-color: #ffcc5df1;
    border-left: 5px solid rgb(202, 216, 0);
    border-right: 5px solid rgb(202, 216, 0);
    padding: 30px;
    border-radius: 20px;

}
.boton :hover{
    color: red;
}

.titulo{
    text-align: center;
    font-size:80px
}
#menu{
    background-color: rgb(77, 73, 73);
    color: aliceblue;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    max-width: 800px;
    margin: 100px;
    font-size: larger;
    border-radius: 20px;
    padding: 15px;
    border: 5px solid rgba(223, 243, 41, 0.315);
}
.boton{
    background-color: rgba(4, 4, 26, 0.904);
    margin: 5px;
    border-radius: 10px;
    padding: 7px;
    max-width: fit-content;
}
.fotosMenu{
    max-height: 60px;
    max-width: 30px;
    margin-right: 10px;
}
#principal h1{
    text-align: center;
    font-size:50px
}
.fotos{
    margin: 10px;
    border: solid black;
}
.header{
    text-align: center;
    margin: 0 auto;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    font-size: xx-large;
    padding: 15px;
    border-bottom: solid black 2px;
    border-radius: 1px;
}
.header a{
    margin: 40px;
}
.header a:hover{
    color: rgb(221, 0, 0);
    background-color: rgb(61, 61, 66);
    border-radius: 20px;
    padding: 10px;
}
#descarga{
    text-align: center;
    font-size: large;
}
#zip{
    max-width: 40px;
    max-height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#principal li{
    margin-bottom: 15px;
}
a {
    color: rgb(31, 28, 28);
}